<div class="job-block">
    <!-- link the title to job page-->
    <a href="/jobs/{{id}}" class="job-title">{{title}}</a>
    <p class="company">{{company_name}}</p>
    <p class="date">Posted on {{format_date createdAt}}</p>
    {{!-- can only show canidate list if user is headhunter --}}
    {{#if (isEqual user_type 'headhunter')}}
        <a class="candidate-list" href="/dashboard/candidate-list/{{id}}">candidate-list</a>
    {{/if}}
</div>
<hr class="custom-hr">


<!-- CSS IS FINISHED -->