<!-- Candidate Resume for Each Candidate -->
<div>
    <p class="id">id: {{resume.Candidate.id}}</p>
    <p class="name">{{resume.name}}</p>
    <p class="email">{{resume.email}}</p>
    <p class="phone-number">{{resume.phone_number}}</p>
    <p class="address">{{resume.address}}</p>
    <p class="experience">{{resume.experience}}</p>
    <p class="education">{{resume.education}}</p>
    <p class="hobbies">{{resume.hobbies}}</p>
</div>