<!-- Candidate List with Information for the Headhunter -->
{{#each resumes as |resume| }}
<div class="candidates">
    <p class="id">id: {{resume.Candidate.id}}</p>
    <a class="name" href="/dashboard/candidate-page/{{resume.Candidate.id}}">{{resume.name}}</a>
    <p class="email">{{resume.email}}</p>
    <p class="phone-number">{{resume.phone_number}}</p>
    <p class="date">applied on {{format_date resume.createdAt}}</p>
</div>
<hr class="custom-hr">
{{/each}}


<!--CSS IS FINISHED-->