<!-- Candidate List with Information for the Headhunter -->
{{#each resumes as |resume| }}
<div>
    <p class="id">id: {{resume.Candidate.id}}</p>
    <p class="name" href="/dashboard/candidate-page/{{resume.Candidate.id}}">{{resume.Candidate.name}}</p>
    <p class="email">{{resume.email}}</p>
    <p class="phone-number">{{resume.phone_number}}</p>
</div>
{{/each}}
