<!-- Candidate Resume for Each Candidate -->
<div>
    <p class="id">ID {{resume.Candidate.id}}</p>
    <p class="name">{{resume.name}}</p>
    <div>Email</div>
    <p class="email">{{resume.email}}</p>
    <br>
    <div>Phone Number</div>
    <p class="phone-number">{{resume.phone_number}}</p>
    <br>
    <div>Address</div>
    <p class="address">{{resume.address}}</p>
    <br>
    <div>Experience</div>
    <p class="experience">{{resume.experience}}</p>
    <br>
    <div>Education</div>
    <p class="education">{{resume.education}}</p>
    <br>
    <div>Hobbies</div>
    <p class="hobbies">{{resume.hobbies}}</p>
</div>