<!-- Shows all jobs details -->
<!-- Insert an if statement-->
     <!--if user_type == 'headhunter' and job.heahunter_id == logged_user-->
          <!--have a link to caniddate list-->
<a href="/dashboard/candidate-list/{{job.id}}">candidate list</a>
<div class="full-job-block">
     <a class="job">{{job.title}}</p>
     <p class="company">{{job.company_name}}</p>
     <p class="description">{{job.job_description}}</p>
     <p class="date">posted on {{format_date job.createdAt}}</p>
</div>
<!-- Insert an if statement-->
     <!-- if user_type == 'candidate'--> 
          <!--apply that links to new resume-->
          <a href="/jobs/resume/{{job.id}}">Apply here</a>